# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List some Data Science Tools
* Write few examples of arithmetic expressions in Python

## Author
Lawrence Ranario

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. Java

Some of the commonly used libraries used by Data Scientists include:
- Keras
- Matplotlib
- NumPy
- SciPy

| --- |
| Data Science Tools |
| --- |
| RStudio |
| VS Studio |
| Jupyter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335